
.input-container {
}

.left-label {
  display: inline-block;
  width: 100px;
  margin: 5px 10px 5px 0;
  font-size: 0.8em;
  color: blue;
}

.weekbox-root {
  margin-top: 10px;
}

.header-days-container {
  /*border: darkblue 1px solid;*/
}

.day-box {
  display: inline-block;
  font-size: 1em;
  min-width: 20px;
  width: 20px;
  padding: 5px;
}

.header-day {
  color: darkblue;
}

.days-row {
}

.day {
  color: blue;
  background-color: aquamarine;
}

.day-invalid {
  color: darkgray;
  background-color: gray;
}


