
.input-container {
}

.left-label {
  display: inline-block;
  width: 100px;
  margin: 5px 10px 5px 0;
  font-size: 0.8em;
  color: blue;
}

.week-root {
  margin-top: 10px;
}

.month-header {
  text-align: center;
  width: 210px;
  display: inline-block;
  background-color: lightyellow;
  padding: 2px;
}

.header-days-container {
  /*border: darkblue 1px solid;*/
}

.day-box {
  display: inline-block;
  font-size: 1em;
  min-width: 20px;
  width: 20px;
  padding: 5px;
  border: white 0.5px solid;
}

.header-day {
  color: darkblue;
}

.days-row {
}

.weekend {
  background-color: yellow;
}

.weekday {
  background-color: green;
}

.day-invalid {
  background-color: lightgrey;
}


